@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

.ethCoins {
  position: fixed;
  flex-basis: 1/2;
  z-index: 2;
  top: -1500px;
}
